@import './flags/flags.css';
@import './code.scss';

.p-invalid {
    color: #B00020
}

.swal-custom-popup-error {
    max-width: 50vw;
}

.p-togglebutton .p-button {
    background: #e9cdf7;
    border-color: #e9cdf7;
}

.p-togglebutton.p-highlight .p-button {
    background: rgb(215, 243, 215);
    border-color: rgb(215, 243, 215);
    color: rgba(0, 0, 0, 0.87);
}

